<div>
    <div (click)='addOrder()'>add new order</div>
    <select #filterStates (change)='filterState(filterStates.value)' class="custom-select">
        <option placeholder="stage" disabled>stage</option>
        <option *ngFor="let state of allStates; let i = index" value="{{state.state}}" >{{state.stateName}}</option>
        <option placeholder="stage" value="allStages">All stages</option>
     </select>
     <div>Total open orders:{{openOrders}}</div>
    <form [formGroup]='formOrder' (ngsubmit)="Submit()" *ngIf="add">
        
        <div>
            <span>
                <p>orderName</p>
                <input type="text" formControlName='orderName' placeholder="orderName">
            </span>
            <span>
                <p>stage</p>
                <select class="custom-select" formControlName='stage'>
                    <option placeholder="stage" disabled>stage</option>
                    <option *ngFor="let state of allStates; let i = index" value="{{state.state}}">{{state.stateName}}</option>
                 </select>
            </span>
            <span>
                <p>totalcost</p>
                <input type="text" formControlName='totalcost' placeholder="totalcost">
            </span>
        </div>
        <div (click)="Submit()">submit</div>
    </form>

    <form [formGroup]='formOrder' (ngsubmit)="editOrderSubmit(position)" *ngIf="edit">
        
        <div>
            <span>
                <p>orderName</p>
                <input type="text" formControlName='orderName' placeholder="orderName" value="data[position].orderName">
            </span>
            <span>
                <p>stage</p>
                <select class="custom-select" formControlName='stage'>
                    <option placeholder="stage" disabled>stage</option>
                    <option *ngFor="let state of allStates; let i = index" value="{{state.state}}">{{state.stateName}}</option>
                 </select>
            </span>
            <span>
                <p>totalcost</p>
                <input type="text" formControlName='totalcost' placeholder="totalcost">
            </span>
        </div>
        <div (click)="editOrderSubmit(position)">submit</div>
    </form>
    
</div>
<div class="order" >
<div *ngFor="let state of states; let i = index" class="order-stage">
    <div  class="order-stage-hedder">
        <p (click)="hideStags(state.active, i)">{{state.stateName}}</p>
        <p class="order-stage-hedder-total">{{state.total}}</p>
    </div>
    
    <div *ngIf="state.active">
        <div *ngFor="let order of Orders; let i = index" > 
            <div class="order-stage-item" *ngIf="order.stage === state.state ">
            <li (click)='onEdit(i)'>{{order.orderName}}</li>
            <select #orderStates (change)='orderStatesEdit(orderStates.value, i )' class="custom-select">
                <option *ngFor="let state of allStates; let i = index" value="{{state.state}}" >{{state.stateName}}</option>
             </select>
            <div (click)='editOrder(i)'>edit</div>
            </div>
        </div>
    </div>
</div>
</div>
