
.body {
    color: #000;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;

    &--text{
      display: flex;
      flex: 1;
      font-size: 2.5rem;
      line-height: 2.5rem;
      opacity: 1;
      color: #000;
      align-content: center;
      justify-content: center;
      text-align: center;
    }

    &--button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    & p{
      padding: 15px;
      text-align: center;
      opacity: 0.8;
    }
    
  }
  